<div class="Player Player1 {{if player1Current "current-player"}}">
  <div class="PlayerCircle red"></div>
  <div>{{player1}}</div>
</div>
<div class="Player Player2 {{if player2Current "current-player"}}">
  <div class="PlayerCircle black"></div>
  <div>{{player2}}</div>
</div>